# Traitement des données

Dans ce notebook, nous allons traiter les données provenant de nos scrapping provenant des sites d'annonces de vente de biens SeLoger et de EtreProprio. Nous rassembler les données, les analyser, les filtrer, les vérifier puis réaliser des statistiques dessus.

In [70]:
import pandas as pd         
import numpy as np
from typing import Union, List
import pandas as pd

### 1. Extraction des csv en DataFrame

Ici nous avons 3 recherches réalisé par 3 personnes. Nous allons les convertir en DataFrame.

In [71]:
# création csv

# rassemblement des csv dans une liste
paris_seloger = [
    "Paris_1er_à_13.csv",
    "Paris_14_à_18.csv",
    "Paris_18_à_20.csv"
]

etrepro_tl_tc = [
    'annonces_tl.csv',
    'annonces_tc.csv'
]

# concatenation et/ou extration des csv provenant du même extracteur
df_etpro_1 = pd.concat(
    [pd.read_csv(f, sep=';', dtype={"code_postal": str}) for f in etrepro_tl_tc],
    ignore_index=True
)

df_etpro_2 = pd.read_csv('annonces_th-tf.csv', sep = ';')

df_paris = pd.concat(
    [pd.read_csv(f, sep=',') for f in paris_seloger],
    ignore_index=True
)

Analyse des tableaux

In [72]:
df_etpro_1.head()

,prix,type_de_bien,url_annonce,surface_terrain,surface_interieure,surface_jardin,nombre_de_pieces,ville,code_postal
0,270000,terrain,https://www.etreproprio.com/immobilier-2373266...,433.0,NaN,NaN,NaN,Sergy,01630
1,265000,terrain,https://www.etreproprio.com/immobilier-2373266...,638.0,NaN,NaN,NaN,Pougny,01550
2,240000,terrain,https://www.etreproprio.com/immobilier-2357744...,707.0,NaN,NaN,NaN,Collonges,01550
3,265000,terrain,https://www.etreproprio.com/immobilier-2031804...,658.0,NaN,NaN,NaN,Pougny,01550
4,269000,terrain,https://www.etreproprio.com/immobilier-2267772...,762.0,NaN,NaN,NaN,Massieux,01600

In [73]:
df_etpro_2.head()

,type_de_bien,departement,ville,code_postal,nombre_de_pieces,surface_interieure,surface_exterieure,prix,url_annonce
0,Maison,Ain,Pont-D'ain,1160.0,1.0,1.0,NaN,235000.0,https://www.etreproprio.com/immobilier-2221753...
1,Maison,Ain,Chazey-Bons,1300.0,4.0,1.0,184.0,80000.0,https://www.etreproprio.com/immobilier-2391073...
2,Maison,Ain,Bourg-En-Bresse,1000.0,1.0,15.0,NaN,32559.0,https://www.etreproprio.com/immobilier-2337024...
3,Maison,Ain,Saint-Andre-De-Corcy,1390.0,3.0,24.0,185.0,54450.0,https://www.etreproprio.com/immobilier-2392443...
4,Maison,Ain,Amberieux-En-Dombes,1330.0,3.0,24.0,NaN,54453.0,https://www.etreproprio.com/immobilier-2393840...

In [74]:
df_paris.head()

,Page_Number,Type,Price,Price_Per_M2,Surface_m2,Rooms,Bedrooms,Floor,Address,City,PostalCode,Department,Energy_Class,Is_New,Agency,URL,Confidence_Score
0,10,Appartement,2 720 004 €,13 399 €/m²,203 m²,5 pièce(s),3 chambre(s),5,Paris 8ème (75008),Paris 8ème,75008.0,75.0,C,Non,NaN,https://www.seloger.com/annonces/achat/apparte...,10
1,10,Appartement,1 105 000 €,13 155 €/m²,84 m²,4 pièce(s),2 chambre(s),4,"Palais Royal, Paris 1er (75001)",Paris 1er,75001.0,75.0,E,Non,NaN,https://www.bellesdemeures.com/252663505/detai...,10
2,10,Appartement,1 590 000 €,16 224 €/m²,98 m²,4 pièce(s),2 chambre(s),4,"Sentier-Bonne Nouvelle, Paris 2ème (75002)",Paris 2ème,75002.0,75.0,NaN,Non,NaN,https://www.bellesdemeures.com/250028923/detai...,10
3,10,Appartement,1 095 000 €,15 423 €/m²,71 m²,3 pièce(s),2 chambre(s),3,"Les Halles, Paris 1er (75001)",Paris 1er,75001.0,75.0,E,Non,NaN,https://www.seloger.com/annonces/achat/apparte...,10
4,10,Appartement,1 570 000 €,28 473 €/m²,"55,1 m²",2 pièce(s),1 chambre(s),2,"Ecole Militaire, Paris 7ème (75007)",Paris 7ème,75007.0,75.0,G,Non,NaN,https://www.bellesdemeures.com/254550741/detai...,10

In [75]:
df_paris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22739 entries, 0 to 22738
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Page_Number       22739 non-null  int64
 1   Type              22607 non-null  object
 2   Price             22677 non-null  object
 3   Price_Per_M2      22426 non-null  object
 4   Surface_m2        22622 non-null  object
 5   Rooms             22619 non-null  object
 6   Bedrooms          17841 non-null  object
 7   Floor             22671 non-null  object
 8   Address           22645 non-null  object
 9   City              22643 non-null  object
 10  PostalCode        22676 non-null  float64
 11  Department        22676 non-null  float64
 12  Energy_Class      18981 non-null  object
 13  Is_New            22739 non-null  object
 14  Agency            0 non-null      float64
 15  URL               22702 non-null  object
 16  Confidence_Score  22739 non-null  int64
dtypes: float64(3), int64(2), object(12)
memory usage: 2.9+ MB

In [76]:
df_etpro_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91250 entries, 0 to 91249
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   prix                91250 non-null  int64
 1   type_de_bien        91250 non-null  object
 2   url_annonce         91250 non-null  object
 3   surface_terrain     62365 non-null  float64
 4   surface_interieure  28885 non-null  float64
 5   surface_jardin      1463 non-null   float64
 6   nombre_de_pieces    7918 non-null   float64
 7   ville               91250 non-null  object
 8   code_postal         91250 non-null  object
dtypes: float64(4), int64(1), object(4)
memory usage: 6.3+ MB

In [77]:
df_etpro_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506747 entries, 0 to 506746
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   type_de_bien        506747 non-null  object
 1   departement         506747 non-null  object
 2   ville               506747 non-null  object
 3   code_postal         506731 non-null  float64
 4   nombre_de_pieces    493420 non-null  float64
 5   surface_interieure  506747 non-null  float64
 6   surface_exterieure  270883 non-null  float64
 7   prix                504830 non-null  float64
 8   url_annonce         506747 non-null  object
dtypes: float64(5), object(4)
memory usage: 34.8+ MB

### 2. Cohésion des tableaux et convertion des valeurs

Ici nous voyons déjà que le code postal est du type float, qui ne comporte pas tous les éléments caractéristiques d'un code postal. Il manque le premier chiffre qui est un zéro, filtré automatiquement comme un numérique. Puis nous avons beaucoup de valeurs avec son unité. Ces valeurs ne pourront pas être utilisées pour faire des études statistiques. Il nous faut donc les filtrer et convertir. Nous avons aussi les noms des variables qui ne sont pas identiques ("price", "prix") et les valeurs de certaines variables à modifier ("Appartement", "appartement"...). Tout ceci doit être traité en amont des études statistiques.

In [78]:
# traitement code postal
df_etpro_2["code_postal"] = (
    pd.to_numeric(df_etpro_2["code_postal"], errors="coerce")
      .astype("Int64")
      .astype(str)
      .replace("<NA>", pd.NA)
      .str.zfill(5)
)

In [79]:
# Nous voulons attribuer les mêmes variables pour chaque dataFrame. Analysons le nom des variables:
for var1 in df_etpro_1.columns:
    print(f'df_etpro_1 variable : {var1}')
print('\n')
for var2 in df_etpro_2.columns:
    print(f'df_etpro_2 variable : {var2}')
print('\n')
for var3 in df_paris.columns:
    print(f'df_paris variable : {var3}')

df_etpro_1 variable : prix
df_etpro_1 variable : type_de_bien
df_etpro_1 variable : url_annonce
df_etpro_1 variable : surface_terrain
df_etpro_1 variable : surface_interieure
df_etpro_1 variable : surface_jardin
df_etpro_1 variable : nombre_de_pieces
df_etpro_1 variable : ville
df_etpro_1 variable : code_postal


df_etpro_2 variable : type_de_bien
df_etpro_2 variable : departement
df_etpro_2 variable : ville
df_etpro_2 variable : code_postal
df_etpro_2 variable : nombre_de_pieces
df_etpro_2 variable : surface_interieure
df_etpro_2 variable : surface_exterieure
df_etpro_2 variable : prix
df_etpro_2 variable : url_annonce


df_paris variable : Page_Number
df_paris variable : Type
df_paris variable : Price
df_paris variable : Price_Per_M2
df_paris variable : Surface_m2
df_paris variable : Rooms
df_paris variable : Bedrooms
df_paris variable : Floor
df_paris variable : Address
df_paris variable : City
df_paris variable : PostalCode
df_paris variable : Department
df_paris variable : Energy_Class
df_paris variable : Is_New
df_paris variable : Agency
df_paris variable : URL
df_paris variable : Confidence_Score

Nous allons attribuer le même nom de variable pour tous les data frame avant de les combiner.

In [80]:
# modification des noms des variables
df_etpro_1 = df_etpro_1.rename(columns={
    "surface_jardin": "surface_exterieure"
    })
df_paris = df_paris.rename(columns={
    "Type" : "type_de_bien",
    "Department": "code_departement",
    "Surface_m2" : "surface_interieure",
    "Rooms" : "nombre_de_pieces",
    "Price": "prix",
    "City" : "ville",
    "URL": "url_annonce",
    "PostalCode" : "code_postal"
    })

On va maintenant passer à la partie convertion.

In [81]:
# on crée 2 fonctions pour convertir les objects en entier ou float en extrayant uniquement la valeur sans unité
# en entrée le data frame + les noms des variables à traiter, en sortie le data frame convertit
# 220 000.0 € str   ->  220000 int
# 45.5 m2     str   ->  45.5   float
# 75018.0     float -> '75018' string

def conversion_txt_int(data: pd.DataFrame, nom_var: Union[str, List[str]]) -> pd.DataFrame:
    # normaliser en liste pour toujours obtenir un DataFrame (et pas une Series)
    cols = [nom_var] if isinstance(nom_var, str) else list(nom_var)

    data[cols] = (
        data[cols]
            .apply(lambda s: (
                s.astype(str)
                 .str.extract(r"([\d\s]+)")[0]
                 .str.replace(" ", "", regex=False)
                 .replace("", pd.NA)
            ))
            .astype("Int64")
    )
    return data


def conversion_float_int_str(data: pd.DataFrame, nom_var: Union[str, List[str]]) -> pd.DataFrame:
    
    cols = [nom_var] if isinstance(nom_var, str) else list(nom_var)

    data[cols] = (
        data[cols]
          .apply(lambda s: (
              pd.to_numeric(s, errors="coerce")   # force float → numérique
                .astype("Int64")                  # enlève .0, garde NaN
                .astype("string")                 # conversion finale en string
          ))
    )
    return data



def conversion_txt_flt(data: pd.DataFrame, nom_var: Union[str, List[str]]) -> pd.DataFrame:

    # normaliser en liste
    if isinstance(nom_var, str):
        cols = [nom_var]
    else:
        cols = nom_var

    data[cols] = (
        data[cols]
            .apply(lambda s: (s.astype(str)
                 .str.extract(r"([\d\s]+(?:[.,]\d+)?)")[0]
                 .str.replace(" ", "", regex=False)
                 .str.replace(",", ".", regex=False)
                 .replace("", pd.NA)
            ))
            .astype(float)
    )

    return data

In [82]:
# On fait des convertions et séparation unité et grandeur (120.5 m2 -> 120.5 ; 120 000.0 € -> 120000)
list_var1 = ["nombre_de_pieces", "prix", "Price_Per_M2"]
list_var2 = ["nombre_de_pieces", "prix"]
list_var3 = ["code_postal", "code_departement"]
list_var4 = ["surface_interieure"]

df_paris = conversion_txt_flt(df_paris, list_var4)
df_paris = conversion_float_int_str(df_paris, list_var3)
df_paris = conversion_txt_int(df_paris, list_var1)
df_etpro_2 = conversion_txt_int(df_etpro_2, list_var2)

In [83]:
df_etpro_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506747 entries, 0 to 506746
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   type_de_bien        506747 non-null  object
 1   departement         506747 non-null  object
 2   ville               506747 non-null  object
 3   code_postal         506731 non-null  object
 4   nombre_de_pieces    493420 non-null  Int64
 5   surface_interieure  506747 non-null  float64
 6   surface_exterieure  270883 non-null  float64
 7   prix                504830 non-null  Int64
 8   url_annonce         506747 non-null  object
dtypes: Int64(2), float64(2), object(5)
memory usage: 35.8+ MB

In [84]:
df_etpro_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91250 entries, 0 to 91249
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   prix                91250 non-null  int64
 1   type_de_bien        91250 non-null  object
 2   url_annonce         91250 non-null  object
 3   surface_terrain     62365 non-null  float64
 4   surface_interieure  28885 non-null  float64
 5   surface_exterieure  1463 non-null   float64
 6   nombre_de_pieces    7918 non-null   float64
 7   ville               91250 non-null  object
 8   code_postal         91250 non-null  object
dtypes: float64(4), int64(1), object(4)
memory usage: 6.3+ MB

In [85]:
df_paris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22739 entries, 0 to 22738
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Page_Number         22739 non-null  int64
 1   type_de_bien        22607 non-null  object
 2   prix                22639 non-null  Int64
 3   Price_Per_M2        22426 non-null  Int64
 4   surface_interieure  22622 non-null  float64
 5   nombre_de_pieces    22619 non-null  Int64
 6   Bedrooms            17841 non-null  object
 7   Floor               22671 non-null  object
 8   Address             22645 non-null  object
 9   ville               22643 non-null  object
 10  code_postal         22676 non-null  string
 11  code_departement    22676 non-null  string
 12  Energy_Class        18981 non-null  object
 13  Is_New              22739 non-null  object
 14  Agency              0 non-null      float64
 15  url_annonce         22702 non-null  object
 16  Confidence_Score    22739 non-null  int64
dtypes: Int64(3), float64(2), int64(2), object(8), string(2)
memory usage: 3.0+ MB

On veut créer le code département afin de pouvoir faire des statistiques par département.

In [86]:
# on crée un code département issu du code postal
df_etpro_1["code_departement"] = df_etpro_1["code_postal"].str[:2]
df_etpro_2["code_departement"] = df_etpro_2["code_postal"].str[:2]

In [87]:
# on souhaite attribuer le nom du département avec son code dans le data frame df_etpro_1
DEPARTMENTS = {
    '01': 'Ain', 
    '02': 'Aisne', 
    '03': 'Allier', 
    '04': 'Alpes-de-Haute-Provence', 
    '05': 'Hautes-Alpes',
    '06': 'Alpes-Maritimes', 
    '07': 'Ardèche', 
    '08': 'Ardennes', 
    '09': 'Ariège', 
    '10': 'Aube', 
    '11': 'Aude',
    '12': 'Aveyron', 
    '13': 'Bouches-du-Rhône', 
    '14': 'Calvados', 
    '15': 'Cantal', 
    '16': 'Charente',
    '17': 'Charente-Maritime', 
    '18': 'Cher', 
    '19': 'Corrèze', 
    '2A': 'Corse-du-Sud', 
    '2B': 'Haute-Corse',
    '21': 'Côte-d\'Or', 
    '22': 'Côtes-d\'Armor', 
    '23': 'Creuse', 
    '24': 'Dordogne', 
    '25': 'Doubs', 
    '26': 'Drôme',
    '27': 'Eure', 
    '28': 'Eure-et-Loir', 
    '29': 'Finistère', 
    '30': 'Gard', 
    '31': 'Haute-Garonne', 
    '32': 'Gers',
    '33': 'Gironde', 
    '34': 'Hérault', 
    '35': 'Ille-et-Vilaine', 
    '36': 'Indre', 
    '37': 'Indre-et-Loire',
    '38': 'Isère', 
    '39': 'Jura', 
    '40': 'Landes', 
    '41': 'Loir-et-Cher', 
    '42': 'Loire', 
    '43': 'Haute-Loire',
    '44': 'Loire-Atlantique', 
    '45': 'Loiret', 
    '46': 'Lot', 
    '47': 'Lot-et-Garonne', 
    '48': 'Lozère',
    '49': 'Maine-et-Loire', 
    '50': 'Manche', 
    '51': 'Marne', 
    '52': 'Haute-Marne', 
    '53': 'Mayenne',
    '54': 'Meurthe-et-Moselle', 
    '55': 'Meuse', 
    '56': 'Morbihan', 
    '57': 'Moselle', 
    '58': 'Nièvre', 
    '59': 'Nord',
    '60': 'Oise', 
    '61': 'Orne', 
    '62': 'Pas-de-Calais', 
    '63': 'Puy-de-Dôme', 
    '64': 'Pyrénées-Atlantiques',
    '65': 'Hautes-Pyrénées', 
    '66': 'Pyrénées-Orientales', 
    '67': 'Bas-Rhin', 
    '68': 'Haut-Rhin', 
    '69': 'Rhône',
    '70': 'Haute-Saône', 
    '71': 'Saône-et-Loire', 
    '72': 'Sarthe', 
    '73': 'Savoie', 
    '74': 'Haute-Savoie',
    '75': 'Paris', 
    '76': 'Seine-Maritime', 
    '77': 'Seine-et-Marne', 
    '78': 'Yvelines', 
    '79': 'Deux-Sèvres',
    '80': 'Somme', 
    '81': 'Tarn', 
    '82': 'Tarn-et-Garonne', 
    '83': 'Var', 
    '84': 'Vaucluse', 
    '85': 'Vendée',
    '86': 'Vienne', 
    '87': 'Haute-Vienne', 
    '88': 'Vosges', 
    '89': 'Yonne', 
    '90': 'Territoire de Belfort',
    '91': 'Essonne', 
    '92': 'Hauts-de-Seine', 
    '93': 'Seine-Saint-Denis', 
    '94': 'Val-de-Marne', 
    '95': 'Val-d\'Oise',
    '971': 'Guadeloupe', 
    '972': 'Martinique', 
    '973': 'Guyane', 
    '974': 'La Réunion', 
    '976': 'Mayotte',
}

In [88]:
# application
df_etpro_1["departement"] = df_etpro_1["code_departement"].map(DEPARTMENTS)
df_paris["departement"] = df_paris["code_departement"].map(DEPARTMENTS)

Rassemblement des dataframes

In [89]:
# Nous pouvons maintenant rassembler les data frames
df_etpro = pd.concat([df_etpro_1, df_etpro_2], ignore_index=True)
df = pd.concat([df_etpro, df_paris], ignore_index = True )

In [90]:
df.head()

,prix,type_de_bien,url_annonce,surface_terrain,surface_interieure,surface_exterieure,nombre_de_pieces,ville,code_postal,code_departement,departement,Page_Number,Price_Per_M2,Bedrooms,Floor,Address,Energy_Class,Is_New,Agency,Confidence_Score
0,270000,terrain,https://www.etreproprio.com/immobilier-2373266...,433.0,NaN,NaN,<NA>,Sergy,01630,01,Ain,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,265000,terrain,https://www.etreproprio.com/immobilier-2373266...,638.0,NaN,NaN,<NA>,Pougny,01550,01,Ain,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,240000,terrain,https://www.etreproprio.com/immobilier-2357744...,707.0,NaN,NaN,<NA>,Collonges,01550,01,Ain,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,265000,terrain,https://www.etreproprio.com/immobilier-2031804...,658.0,NaN,NaN,<NA>,Pougny,01550,01,Ain,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,269000,terrain,https://www.etreproprio.com/immobilier-2267772...,762.0,NaN,NaN,<NA>,Massieux,01600,01,Ain,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
# On crée la variable prix/m2
df["prix_m2"] = pd.NA

In [92]:
# On selectionne uniquement les colonnes qui nous interesse
df = df[[
    'type_de_bien', 'surface_terrain',	'surface_interieure',	
    'surface_exterieure',	'nombre_de_pieces', 'prix', 'prix_m2', 'Address', 
    'ville', 'code_postal', 'departement', 'code_departement', 'url_annonce']]

In [93]:
shape_df = df.shape[0]

### 3. Les filtres
Nous allons maintenant filtrer les incohérences présentes dans nos données.
Par exemple, nous souhaitons appliquer le prix au metre carre pour les données provenant de 'EtreProprio' (car non fourni).
Avant cela nous devons traiter les valeurs nulles pour la variable 'prix', les surfaces intérieures nulles ou encore les terrains avec une surface intérieure non nulle ...

In [94]:
# Elimination des prix nulles, type de bien nulle, ville nulle, département nulle
df = df[df["prix"].notna()]
df = df[df["type_de_bien"].notna()]
df = df[df["code_departement"].notna()]
df = df[df["departement"].notna()]



print(f"Nombre d'annonce supprimées : {shape_df - df.shape[0]}")
shape_df = df.shape[0]

Nombre d'annonce supprimées : 2129

In [95]:
df["type_de_bien"].unique()

array(['terrain', 'maison', 'commerce', 'appartement', 'Maison',
       'Appartement', 'Duplex', 'Loft', 'Studio', 'Terrain', 'Villa'],
      dtype=object)

In [96]:
# faire une cohérence des valeurs
mapping = {
    "Appartement": "appartement",
    "Maison": "maison",
    "Terrain" : "terrain"
}
df["type_de_bien"] = df["type_de_bien"].replace(mapping)

In [97]:
# Si pour les type de bien qui sont autre que 'terrain', la valeurs (prix) ou (surface intérieur) = 0, on supprimer la donnée

mask_invalide = (
    (df["type_de_bien"] != "terrain")
    & df["surface_interieure"].isna()
)

df = df[~mask_invalide]
# si le type de bien est un terrain et la surface inrtérieur n'est pas nulle, on supprime
df = df[~(
    (df["type_de_bien"] == "terrain")
    & df["surface_interieure"].notna()
)]

df = df[~(
    (df["type_de_bien"] == "terrain")
    & df["surface_terrain"].isna()
)]

print(f"Nombre d'annonce supprimées : {shape_df - df.shape[0]}")
shape_df = df.shape[0]

Nombre d'annonce supprimées : 83

In [98]:
# supprime les surfaces interieures < 10m2 et supérieur à 2000m2
types_avec_surface = ['maison', 'appartement',
                       'Duplex', 'Loft', 'Studio', 'Villa']
df = df[~(
    df["type_de_bien"].isin(types_avec_surface)
    & ((df["surface_interieure"] < 10)
    | (df["surface_interieure"] > 2000)
    )
)]

print(f"Nombre d'annonce supprimées : {shape_df - df.shape[0]}")
shape_df = df.shape[0]

Nombre d'annonce supprimées : 997

In [99]:
# on supprime les doublouns si présent
df = df.drop_duplicates(subset=["url_annonce"])
print(f"Nombre de doublons supprimés : {shape_df - df.shape[0]}")

Nombre de doublons supprimés : 126

In [100]:
# on vérifie si le type de bien différent de 'terrain'

# On applique le calcule du prix surfacique

df.loc[df["type_de_bien"] == "terrain", "prix_m2"] = (
    df["prix"] / df["surface_terrain"]
).round()

df.loc[df["type_de_bien"] != "terrain", "prix_m2"] = (
    df["prix"] / df["surface_interieure"]
).round()

In [101]:
# Pour finir, nous souhaitons filtrer les adresses afin quelle ne retourne uniquement la première partir 
# (sans le nom de la ville ni le code arrondissement)
df["Address"] = df["Address"].str.replace(
    r"\s*,?\s*Paris.*$", "", regex=True
)

In [102]:
df

,type_de_bien,surface_terrain,surface_interieure,surface_exterieure,nombre_de_pieces,prix,prix_m2,Address,ville,code_postal,departement,code_departement,url_annonce
0,terrain,433.0,NaN,NaN,<NA>,270000,624.0,NaN,Sergy,01630,Ain,01,https://www.etreproprio.com/immobilier-2373266...
1,terrain,638.0,NaN,NaN,<NA>,265000,415.0,NaN,Pougny,01550,Ain,01,https://www.etreproprio.com/immobilier-2373266...
2,terrain,707.0,NaN,NaN,<NA>,240000,339.0,NaN,Collonges,01550,Ain,01,https://www.etreproprio.com/immobilier-2357744...
3,terrain,658.0,NaN,NaN,<NA>,265000,403.0,NaN,Pougny,01550,Ain,01,https://www.etreproprio.com/immobilier-2031804...
4,terrain,762.0,NaN,NaN,<NA>,269000,353.0,NaN,Massieux,01600,Ain,01,https://www.etreproprio.com/immobilier-2267772...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
620731,appartement,NaN,20.0,NaN,1.0,158000,7900.0,Danube-Porte des Lilas,Paris 19ème,75019,Paris,75,https://www.seloger.com/annonces/achat/apparte...
620732,maison,NaN,65.0,NaN,3.0,725000,11154.0,Bassin de la Villette,Paris 19ème,75019,Paris,75,https://www.seloger.com/annonces/achat/apparte...
620733,appartement,NaN,31.0,NaN,1.0,450000,14516.0,Clignancourt-Jules Joffrin,Paris 18ème,75018,Paris,75,https://www.seloger.com/annonces/achat/apparte...
620734,maison,NaN,55.0,NaN,3.0,615000,11182.0,Père Lachaise-Réunion,Paris 20ème,75020,Paris,75,https://www.seloger.com/annonces/achat/maison/...
620735,appartement,NaN,56.0,NaN,3.0,630000,11250.0,Secrétan,Paris 19ème,75019,Paris,75,https://www.seloger.com/annonces/achat/apparte...

Maintenant l'exportation sous format csv

In [103]:
df.to_csv('clean_data.csv')