In [267]:
import pandas as pd         # permettant la création de fataframe

In [268]:
# création csv
df_tl = pd.read_csv('annonces_tl.csv', sep = ';')
df_tc = pd.read_csv('annonces_tc.csv', sep = ';')

In [269]:
df = pd.concat([df_tl, df_tc], ignore_index=True)

In [270]:
nbr_bien = df.shape[0]

In [271]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91250 entries, 0 to 91249
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   prix                91250 non-null  int64
 1   type_de_bien        91250 non-null  object
 2   url_annonce         91250 non-null  object
 3   surface_terrain     62365 non-null  float64
 4   surface_interieure  28885 non-null  float64
 5   surface_jardin      1463 non-null   float64
 6   nombre_de_pieces    7918 non-null   float64
 7   ville               91250 non-null  object
 8   code_postal         91250 non-null  int64
dtypes: float64(4), int64(2), object(3)
memory usage: 6.3+ MB

In [272]:
# Sachons que normalement les variables tl et tc devrais chercher des biens de type terrain et commerce
# il n'est pas rare d'avoir d'autres types de biens dans ces recherches.
# on vérifie les incohérences le type de bien maison sans nombre de pièces

df = df[~(
    (df["type_de_bien"] == "maison") &
    (df["surface_interieure"].isna())
)]
df = df[~(
    (df["type_de_bien"] == "appartement") &
    (df["surface_interieure"].isna())
)]

df = df[~(
    (df["type_de_bien"] == "terrain") &
    (df["surface_interieure"].notna())
)]

In [273]:
print(f'Nombre de biens exclu : {nbr_bien - df.shape[0]}')

Nombre de biens exclu : 0

In [274]:
# on fait pareil avec les commerces
df = df[~(
    (df["type_de_bien"] == "maison") &
    (df["surface_interieure"].isna())
)]
df = df[~(
    (df["type_de_bien"] == "terrain") &
    (df["nombre_de_pieces"].notna())
)]

df = df[~(
    (df["type_de_bien"] == "terrain") &
    (df["surface_interieure"].notna())
)]

df = df[~(
    (df["type_de_bien"] == "terrain") &
    (df["surface_terrain"].isna())
)]

df = df[~(
    (df["type_de_bien"] == "commerce") &
    (df["surface_terrain"].notna())
)]

df = df[~(
    (df["type_de_bien"] == "appartement") &
    (df["surface_interieure"].isna())
)]

In [275]:
print(f'Nombre de biens exclu : {nbr_bien - df.shape[0]}')

Nombre de biens exclu : 91

In [276]:
# verifier les doublons
duplicate_1 = df_tc.duplicated()
duplicate_1

0        False
1        False
2        False
3        False
4        False
         ...
29095    False
29096    False
29097    False
29098    False
29099    False
Length: 29100, dtype: bool